# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
.esphome
config/*.yaml
.env
.platformio
.platformioLibs
*.bak
__pycache__
nginx/allowdeny.conf
nginx/revproxy.conf
lockouts*.csv