UID=<id of user to run esphome as in the container, matching host user id will help with file permissions>
CIVICRM_AUTH=<api key for user to do actions as>
CIVICRM_KEY=<site key>
CIVICRM_WEBSITE=https://<web domain>
CIVICRM_APIv4URI=/civicrm/ajax/api4
CIVICRM_RFID_ACTVITY=<civicrm activity id for rfid logging>
CIVICRM_RFID_OWNER=<civicrm contact id for rfid failure logging>
ESPHOME_USER=<esphome web username>
ESPHOME_PASSWORD=<a password>
UPDATE_RETURN_URL=<a full URL to return to after updating cards>
