espKey: <an esphome api.encryption.key value>
wifi_ssid: <your wifi SSID>
wifi_password: <your wifi password>
wifi_gateway: <your wifi gateway ip>
wifi_subnet: <your wifi subnet mask>
wifi_dns: <your wifi dns IP>
